{% extends "base.html" %}
    <style>
        {% block style %}

        .organ-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .organ-card {
            width: calc(25% - 100px); /* 25% to have 4 cards in a row and subtracting 20px for margins */
            margin: 20px;
            text-align: center;
            cursor: pointer;
        }


        /* Styling for the selected organ card */
        .organ-card.selected {
            border: 2px solid #3498db;
        }

        /* Styling for the organ image */
        .organ-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }

        /* Styling for the buttons */
        .action-button {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            background-color: #3498db;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .action-button:hover {
            background-color: #2980b9;
        }
        #searchInput {
            width: 300px; /* Adjust the width as needed */
            height: 15px; /* Adjust the height as needed */
            font-size: 14px; /* Adjust the font size as needed */
            padding: 8px 12px; /* Adjust the padding as needed */
        }
        .center-div {
            font-size: 25px;
            color: #35444d;
            text-align: center;
            margin-bottom: 50px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adding a subtle text shadow for depth */
            font-family: "Helvetica Neue", Arial, sans-serif; /* Using a clean and elegant font */
            letter-spacing: 1px; /* Adding a slight letter-spacing for better readability */
            text-transform: uppercase; /* Converting the text to uppercase for emphasis */
        }

        /* Optional: Add a hover effect to make it more interactive */

        input {
            margin-bottom: 20px;
        }
        {% endblock %}
    </style>

{% block content %}

<body>
<div class="center-div">
    <h1 style="color: #35444d;">Choose tissue and data source</h1>
    <!-- Your content here -->
</div>
<div>
    <label for="searchInput"></label>
    <input type="text" id="searchInput" oninput="searchOrgan()" placeholder="Search for a tissue...">
</div>


<div class="organ-container">
    <div class="organ-card" onclick="selectOrgan(this)">
        <img class="organ-image" src="{{url_for('static', filename='lungs.png')}}" alt="File Example">
        <h2>lungs</h2>
    </div>
    <div class="organ-card" onclick="selectOrgan(this)">
        <img class="organ-image" src="{{url_for('static', filename='heart.png')}}" alt="File Example">
        <h2>heart</h2>
    </div>
    <div class="organ-card" onclick="selectOrgan(this)">
        <img class="organ-image" src="{{url_for('static', filename='liver.png')}}" alt="liver">
        <h2>liver</h2>
    </div>

    <div class="organ-card" onclick="selectOrgan(this)">
        <img class="organ-image" src="{{url_for('static', filename='adre.png')}}" alt="File Example">
        <h2>adrenal gland</h2>
    </div>

    <div class="organ-card" onclick="selectOrgan(this)">
        <img class="organ-image" src="{{url_for('static', filename='nn.png')}}" alt="File Example">
        <h2>Bowel_Small </h2>
    </div>
    <div class="organ-card" onclick="selectOrgan(this)">
        <img class="organ-image" src="{{url_for('static', filename='pan.png')}}" alt="liver">
        <h2>pancreas</h2>
    </div>


    <div class="organ-card" onclick="selectOrgan(this)">

        <img class="organ-image" src="{{url_for('static', filename='lala.png')}}" alt="File Example">
        <h2>Thymus</h2>
    </div>
    <div class="organ-card" onclick="selectOrgan(this)">
        <img class="organ-image" src="{{url_for('static', filename='art.png')}}" alt="liver">
        <h2>Aorta</h2>
    </div>

    <!-- Add more organ cards as needed -->

</div>

<form id="organForm" method="post" action="{{ url_for('chose_the_organ') }}">
    <input type="hidden" id="selectedOrganInput" name="selectedOrgan" value="{{ selectedOrganInput }}">
</form>

<div>
    <button class="action-button" name="action" value="updateData" onclick="updateData()">Update Data</button>
    <button class="action-button" name="action" value="useExistingData" onclick="useExistingData()">Use Existing Data</button>
</div>

</body>
{% endblock %}
{% block script %}
<script>
    var selectedOrgan = '';
    var selectedOrganCard = null;

    function selectOrgan(card) {
        if (selectedOrganCard !== null) {
            // Remove highlight from previously selected organ card
            selectedOrganCard.classList.remove('selected');
        }

        // Highlight the selected organ card
        card.classList.add('selected');
        selectedOrganCard = card;

        // Get the organ name from the adjacent h2 element
        var organName = card.querySelector('h2').textContent;
        selectedOrgan = organName;
        console.log('Selected Organ:', selectedOrgan);
        if (selectedOrganCard !== null) {
            // Remove highlight from previously selected organ card
            selectedOrganCard.classList.remove('selected');
        }

        // Highlight the selected organ card
        card.classList.add('selected');
        selectedOrganCard = card;

        // Get the organ name from the adjacent h2 element
        var organName = card.querySelector('h2').textContent;
        selectedOrgan = organName;
        console.log('Selected Organ:', selectedOrgan);
    }

    function updateData() {
        if (selectedOrgan !== '') {
            console.log('Selected Organ:', selectedOrgan);
            localStorage.setItem('selectedOrgan', selectedOrgan);
            window.location.href = "{{ url_for('file') }}";
        } else {
            alert('Please select an organ first.');
        }
    }

    function useExistingData() {
        if (selectedOrgan !== '') {
            console.log('Selected Organ:', selectedOrgan);
            localStorage.setItem('selectedOrgan', selectedOrgan);
            window.location.href = "{{ url_for('form') }}";
        } else {
            alert('Please select an organ first.');
        }
    }

    function searchOrgan() {
        var input = document.getElementById('searchInput');
        var filter = input.value.toLowerCase();
        var organs = document.getElementsByClassName('organ-card');

        for (var i = 0; i < organs.length; i++) {
            var organ = organs[i];
            var name = organ.querySelector('h2').textContent.toLowerCase();

            if (name.includes(filter)) {
                organ.style.display = '';
            } else {
                organ.style.display = 'none';
            }
        }
    }
</script>

{% endblock %}