{% extends "base.html" %}
{% block style %}
<style>
  /* Styling for the file upload container */
  .file-upload-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  /* Styling for the file upload input */
  .file-upload-input {
    display: none;
    padding: 10px;
    font-size: 16px;
  }

  /* Styling for the file upload label */
  .file-upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .file-upload-label:hover {
    background-color: #2980b9;
  }

  /* Styling for the example image */
  .example-image {
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
    margin-left: 20%;
  }

  .file-upload-message {
    color: green;
    margin-top: 10px;
  }
  img{
    margin-bottom: 50px;
  }
  .toto{
    font-size: 25px;
    color: white;
  }
  strong{
    color: red;
  }
  h1{
    font-size: 30px;
  }
  .tata{
    font-size: 40px;
    color: #35444d;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adding a subtle text shadow for depth */
    font-family: "Helvetica Neue", Arial, sans-serif; /* Using a clean and elegant font */
    letter-spacing: 1px; /* Adding a slight letter-spacing for better readability */
    text-transform: uppercase;
  }
  #submitButton {
    padding: 12px 45px; /* Adjust the padding to increase the button size */
    font-size: 20px; /* Adjust the font size to make the text larger */
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .centered-content{
    text-align: center;
  }
</style>
{% endblock %}

{% block content %}

<body>

<div class ="tata">
  <center>Upload the data</center>
</div>

<form id="uploadForm" method="POST" enctype="multipart/form-data" action="{{ url_for('file') }}">
  <div class="file-upload-container">
    <input type="file" id="fileUpload1" name="fileUpload1" class="file-upload-input">
    <label for="fileUpload1" class="file-upload-label">upload gene list</label>
    <div id="fileUploadMessage1" class="file-upload-message"></div>
  </div>
  <div class="file-upload-container">
    <input type="file" id="fileUpload2" name="fileUpload2" class="file-upload-input">
    <label for="fileUpload2" class="file-upload-label">upload enhancer list</label>
    <div id="fileUploadMessage2" class="file-upload-message"></div>
  </div>
  <div class="file-upload-container">
    <input type="file" id="fileUpload3" name="fileUpload3" class="file-upload-input">
    <label for="fileUpload3" class="file-upload-label">upload silencer list</label>
    <div id="fileUploadMessage3" class="file-upload-message"></div>
  </div>

  <div class="centered-content">
    <div id="confirmationMessage"></div>

    <button type="submit" id="submitButton">Submit</button>
  </div>

</form>

<div class="toto">
  <p><strong style="color:black">Note:</strong> In order to upload and process the files, you will need to use the <strong>BED</strong> format</p>
</div>
<img class="example-image" id="uploadedImage" src="{{url_for('static', filename='file1.png')}}" alt="File Example">
<img class="example-image" id="uploadedImage2" src="{{url_for('static', filename='file2.png')}}" alt="File Example">
<img class="example-image" id="uploadedImage3" src="{{url_for('static', filename='file3.png')}}" alt="File Example">

</body>
{% endblock %}

{% block script %}
<script>
  var fileUploadInputs = document.querySelectorAll('.file-upload-input');
  var submitButton = document.getElementById('submitButton');
  var uploadedImage = document.getElementById('uploadedImage');

  fileUploadInputs.forEach(function(fileUploadInput, index) {
    fileUploadInput.addEventListener('change', function(event) {
      handleFileUpload(event, index + 1);
    }, false);
  });
  submitButton.addEventListener('click', handleFormSubmit, false);

  function handleFileUpload(event, fileIndex) {
    var file = event.target.files[0];
    var reader = new FileReader();

    reader.onload = function(e) {
      var fileContent = e.target.result;
      console.log('File Content:', fileContent);

      // Display the uploaded file as an image
      uploadedImage.src = URL.createObjectURL(file);

      // Display the confirmation message
      var confirmationMessage = document.getElementById('confirmationMessage');
      confirmationMessage.textContent = 'Files uploaded successfully!';

      // Display the file upload message
      var fileUploadMessage = document.getElementById('fileUploadMessage' + fileIndex);
      fileUploadMessage.textContent = 'File ' + fileIndex + ' uploaded';
    };

    reader.readAsDataURL(file);
  }

  function handleFormSubmit(event) {
    event.preventDefault();
    var form = document.getElementById('uploadForm');

    // Perform additional processing or submit the form data here
    form.submit();
  }
</script>
{% endblock %}
