{% extends 'base.html' %}

{% block content %}
  <div style="text-align:center;">
    <h1>Baseball Stats</h1>
    <br>
    {% if message %}
      <h2>Insufficient data in this time period to calculate the Win %</h2>
    {% elif prediction %}
      <h2>Projected Win % for {{ curr_year }} is {{ prediction }}% based on past 20 years</h2>
      <h2>Actual Win % for {{ curr_year }} is {{ actual }}%</h2>
    {% else %}
      <h2>Team has not been active/has insufficient data for at least 20 years before {{ curr_year }}</h2>
    {% endif %}
    <br>
    <h2>Roster for {{ chosenTeam }} in {{ chosenYear }}</h2>

    <table>
        <thead>
	  {% for player in roster %}
	      {{ player }}{% if not loop.last %}, {% endif %}&nbsp
	  {% endfor %}
	 </tr>
	</thead>
    </table>  


      <h2>Batting Stats</h2>
    <table style="border-collapse: collapse; width: 100%;">
      <thead>
        <tr style="background-color: #63c5da;">
          <th style="border: 1px solid #000; padding: 5px;"> Name</th>
          <th style="border: 1px solid #000; padding: 5px;"> G </th>
          <th style="border: 1px solid #000; padding: 5px;"> C </th>
          <th style="border: 1px solid #000; padding: 5px;"> 1B </th>
          <th style="border: 1px solid #000; padding: 5px;"> 2B </th>
          <th style="border: 1px solid #000; padding: 5px;"> 3B </th>
          <th style="border: 1px solid #000; padding: 5px;"> SS </th>
          <th style="border: 1px solid #000; padding: 5px;"> LF </th>
          <th style="border: 1px solid #000; padding: 5px;"> CF </th>
          <th style="border: 1px solid #000; padding: 5px;"> RF </th>
          <th style="border: 1px solid #000; padding: 5px;"> DH </th>
          <th style="border: 1px solid #000; padding: 5px;"> BB </th>
          <th style="border: 1px solid #000; padding: 5px;"> BA </th>
          <th style="border: 1px solid #000; padding: 5px;"> OBP </th>
          <th style="border: 1px solid #000; padding: 5px;"> SLG </th>
        </tr>
      </thead>
      <tbody>
        {% for key in battingStats %}
          <tr>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][0] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][1] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][2] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][3] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][4] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][5] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][6] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][7] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][8] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][9] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][10] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][12] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][11] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][13] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ battingStats[key][14] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br><br>
    <h2>Pitching Stats</h2>
    <table style="border-collapse: collapse; width: 100%;">
      <thead>
        <tr style="background-color: #63c5da;">
          <th style="border: 1px solid #000; padding: 5px;">Name</th>
          <th style="border: 1px solid #000; padding: 5px;">G</th>
          <th style="border: 1px solid #000; padding: 5px;">GS</th>
          <th style="border: 1px solid #000; padding: 5px;">IP</th>
          <th style="border: 1px solid #000; padding: 5px;">WHIP</th>
          <th style="border: 1px solid #000; padding: 5px;">K/9</th>
          <th style="border: 1px solid #000; padding: 5px;">BB</th>
        </tr>
      </thead>
      <tbody>
        {% for key in pitching_data.keys() %}
          <tr>
            <td style="border: 1px solid #000; padding: 5px;">{{ pitching_data[key][0] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ pitching_data[key][1] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ pitching_data[key][2] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ pitching_data[key][3] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ pitching_data[key][4] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ pitching_data[key][5] }}</td>
            <td style="border: 1px solid #000; padding: 5px;">{{ pitching_data[key][6] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

