{% extends "base.html" %}

<style>
    {% block style %}
    nav2 {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 0;
        list-style: none;
        background-color: #8cc2ba;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin-left: 0px;
        font-size: 20px; /* Increase the font size */
        padding: 10px 10px; /* Adjust the padding as needed */
    }

    nav2 a {
        color: #333;
        text-decoration: none;
        font-weight: bold;
        margin-right: 20px;

    }
    nav2 a:hover {
        color: #343a40;
    }
    .tata{
        margin-left: 15%;
        margin-right: 15%;
    }
    {% endblock %}
</style>
{% block content %}

<body>
<div class = "tata">
    <h1><center> About this tool</center></h1>
    <p><center>write the describtion of the tool in a nice way</center></p>
    <nav2>
        <a href="{{ url_for('chose_the_organ') }}"> go to the tool</a>
    </nav2>
</div>
</body>

{% endblock %}